<!-- templates/video/dashboard.html -->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h2 class="mb-4">Bem-vindo(a), {{ current_user.username }}!</h2>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Enviar um Novo Vídeo</h3>
    </div>
    <div class="card-body">
      <form action="{{ url_for('video.upload') }}" enctype="multipart/form-data" method="post">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="title" class="form-label">Título:</label>
            <input type="text" id="title" name="title" required class="form-control">
          </div>
          <div class="col-md-6">
            <label for="upload_type" class="form-label">Tipo de Upload:</label>
            <select id="upload_type" name="upload_type" class="form-select">
              <option value="file">Arquivo de Vídeo</option>
              <option value="youtube">Link do YouTube</option>
            </select>
          </div>
        </div>
        <div class="row mb-3 upload-file">
          <div class="col-md-12">
            <label for="file" class="form-label">Escolha um Arquivo de Vídeo:</label>
            <input type="file" id="file" name="file" class="form-control" accept=".mp4, .avi, .mkv, .mov">
          </div>
        </div>
        <div class="row mb-3 upload-youtube" style="display: none;">
          <div class="col-md-12">
            <label for="youtube_link" class="form-label">Insira um link do YouTube:</label>
            <input type="text" id="youtube_link" name="youtube_link" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    {% for video in videos %}
      <div class="col-md-4 mb-4">
        <div class="card">
          {{ video.get_thumbnail_html() | safe }}
          <!--<img src="{{ url_for('video.thumbnail', video_id=video.id) }}" alt="Thumbnail" class="card-img-top">-->
          <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <p class="card-text">Tamanho do Arquivo: {{ video.file_size }} bytes</p>
            <p class="card-text">FPS: {{ video.fps }}</p>
            <p class="card-text">Codec: {{ video.codec }}</p>
            <p class="card-text">Duração: {{ video.duration }} seg</p>
            <p class="card-text">Data de Adição: {{ video.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <a href="{{ url_for('video.view', video_id=video.id) }}" class="btn btn-primary">Iniciar Processamento</a>
            <a href="{{ url_for('video.view', video_id=video.id) }}" class="btn btn btn-secondary">Ver Detalhes</a>
          <form id="delete-form-{{ video.id }}" action="{{ url_for('video.delete', video_id=video.id) }}" method="post" style="display: inline;">
          <button type="button" class="btn btn-danger" onclick="confirmDelete({{ video.id }})">Excluir</button>
        </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='upload.js') }}"></script>
  <script>
    $(document).ready(function() {
      $('#upload_type').change(function() {
        if ($(this).val() == 'youtube') {
          $('.upload-file').hide();
          $('.upload-youtube').show();
        } else {
          $('.upload-file').show();
          $('.upload-youtube').hide();
        }
      });
    });
    function confirmDelete(videoId) {
    if (confirm("Tem certeza de que deseja excluir este vídeo?")) {
      document.getElementById('delete-form-' + videoId).submit();
    }
  }
  </script>
{% endblock %}
