<!-- templates/video/upload.html -->
{% extends 'layout.html' %}

{% block title %}Upload Video{% endblock %}

{% block content %}
<h2>Upload Video</h2>

<form method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" name="title" required type="text">
    </div>
    <div class="form-group">
        <label for="url">Video URL:</label>
        <input class="form-control" name="url" required type="text">
    </div>
    <button class="btn btn-success" type="submit">Upload</button>
</form>

<a class="btn btn-secondary" href="{{ url_for('video.dashboard') }}">Back to Dashboard</a>
{% endblock %}
