<!-- templates/video/view_video.html -->
{% extends 'layout.html' %}

{% block title %}View Video - {{ video.title }}{% endblock %}

{% block content %}
<h2>{{ video.title }}</h2>
<video controls height="360" width="640">
    <source src="{{ url_for('video.download', video_id=video.id) }}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<h3>Transcription</h3>
{% if video.transcription %}
<p>{{ video.transcription.text }}</p>
<p>Processing Time: {{ video.transcription.processing_time }} seconds</p>
{% else %}
<p>Transcription not available. <a href="{{ url_for('video.transcribe', video_id=video.id) }}">Click here to
    transcribe</a></p>
{% endif %}

<h3>Summaries</h3>
<ul class="list-group">
    {% for summary in video.transcription.summaries %}
    <li class="list-group-item">{{ summary.text }}</li>
    <p>Processing Time: {{ summary.processing_time }} seconds</p>
    {% endfor %}
</ul>
{% endblock %}
